.seeroom-room {
    height: auto;
}
.seeroom-room-top {
    background-color: black;
    height: 400px;
    color: white;
    padding: 20px;
}

.seeroom-room-flex {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.seeroom-room-name {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
}

.seeroom-room-title {
    font-size: 7rem;
    font-weight: 400;
}

.seeroom-room-content {
    font-size: 2rem;
}

.seeroom-room-ytb-top-boder {
    background-color: white;
    width: 900px;
    height: 450px;
    margin-top: -80px;
    margin-left: 155px;
}

.seeroom-room-ytb-top-boder iframe{
  
   padding: 35px;
   width: 900px;
    height: 450px;
}
.seeroom-room-ytb-top-shadow {
    /* background-color: red; */
    margin-top: -40px;
    margin-left: 224px;
}
.btn-seeroom {
    width: 200px;
    height: 50px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 50px;
    color: white;
    margin-left: 520px;
    margin-top: 50px;

}
.btn-seeroom:hover {
    transform: scale(1.1);
    transition: all .3s ease-out;
    box-shadow: inset -6px -6px 20px 0px;
}

.btn-seeroom-content {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.seeroom-room-type{
    margin-top: 100px;
}

.seeroom-room-type-name {
    font-size: 2rem;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    margin-left: 45px;

}

.seeroom-room-type-title {
    font-size: 4rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 40px;
}

.seeroom-room-type-single {
    font-size: 2.5rem;
    margin-top: -256px;
    line-height: 1.3;
    padding: 35px;
    color: rgb(212, 207, 207);
}

.seeroom-dash{
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.seeroom-room-kind-title {
    margin-top: 100px;
    font-size: 3rem;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
}

.seeroom-room-kind-content {
    font-size: 4rem;
    margin-top: 40px;
    color: #3e3e3e;
    display: flex;
    justify-content: center;
}

.seeroom-room-kind-ctn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
    margin-top: 100px;
}

.seeroom-room-kind-item {
    width: 350px;
    background-color: white;
    height: 750px;
    box-shadow: 0px 0px 13px 1px #ccc;
    overflow: hidden;
    transition: all .5s ease;


}

.seeroom-room-kind-item-img{
    width: 350px;
    height: 285px;
    transition: all .5s ease;

}

.seeroom-room-kind-item-img:hover {
    transform: scale(1.1);
    transition: all .3s ease;
    cursor: pointer;
}

.seeroom-room-kind-item-seeroom {
    transition: .6s ease;
  opacity: 1;
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.seeroom-room-kind-item-title {
    font-size: 2.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.seeroom-room-kind-item-title:hover {
    color: var(--color-primary);
    transition: all .3s ease;
    cursor: pointer;
}

.seeroom-room-kind-item-dash{
    display: flex;
    justify-content: center;
    margin: -11px 5px -15px 0;
}

.seeroom-room-kind-item-dash p {
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
}

.seeroom-room-kind-item-content{
    font-size: 1.8rem;
    color: #3e3e3e;
    line-height: 1.5;
    padding: 25px;
}

.seeroom-room-footer {
margin-top: 100px;
display: grid;
justify-content: center;
justify-items: center;
margin-bottom: 40px;
}

.seeroom-room-footer-title{
    font-size: 3rem;
    text-transform: uppercase;
    margin: 30px;
}

.seeroom-room-footer-content {
    font-size: 1.8rem;
    color: var(--color-primary);
    font-style: italic;
}

.seeroom-room-footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.seeroom-room-footer-icon i:nth-child(2){
    font-size: 1rem;
    margin:0 20px;
}

.seeroom-room-footer-end{
    font-size: 1.6rem;
    margin-top: 20px;
    color: rgb(137, 137, 137);
}